

OpenCV/06uebung03/Micro.avi
OpenCV/lampe/00helloworld/main
OpenCV/lampe/01uebung01/main

OpenCV/lampe/03opencv01/main
#OpenCV/lampe/03opencv01/main.o

OpenCV/lampe/04hausaufgabe01/mainb
OpenCV/lampe/04hausaufgabe01/mainc
OpenCV/lampe/04hausaufgabe01/maind
OpenCV/lampe/04hausaufgabe01/maindre
OpenCV/lampe/04hausaufgabe01/maine
OpenCV/lampe/04hausaufgabe01/mainzwei

OpenCV/lampe/06uebung03/main


OpenCV/C++/quickstart/main
OpenCV/C++/quickstart/video

OpenCV/C++/TutTut/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Video Files
*.mp4
*.avi
*.mpeg

#
# ### JAVA ###
#

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


*.mp4
*.mkv


