

/*
    ===== Grundlegende ELemente =====
*/

  body {
    color: white;
    background-color: #201f1d;
    font-size: 100.01%;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0; padding: 1em 0;
    text-align: center;
  }

  a {
    color: #8ac;
    text-decoration: none;
  }
  a:hover{
    color: #FD0;
  }

  h2 {
    margin-top: 5px;
    text-align: center;
  }
  table{
    color:#4A4;
  }

  #debug {
    /*display: none;*/
    color: #900;
    background-color: #FDA;
    border: 5px solid;
  }
  #AdminBox{
    border: 1px dashed red;
    margin-bottom: 20px;
  }
  #AdminBox a{
    border: 1px solid;
    padding: 1px 2px;
  }
  #AdminBox ul{
    margin: 5px 5px;
    /*padding: 2px;*/
    /*text-align: center;*/
    padding-right: 20px;
    padding-bottom: 1px;
    border-bottom: 1px solid red;
  }
  #AdminBox ul li {
    list-style: none;
    display: inline;
    padding: 0;
  }
  #AdminBox ul li a{
    color: red;
    padding: 1px 2px;
    margin: 10px;
  }
  #AdminBox a:hover{
    color: #FD0;
  }
  #AdminBox tr:hover {
    background-color: #333;
  }

  #container {
    color: #4A4;
    background-color: black;
    text-align: left;
    margin: 0 auto;
    width: 95%;
    padding: 0;
   /* background: #ffffe0 url(hintergrund.gif) repeat-y; */
    border: 1px solid #2d491f;
  }

  #kopf {
    color: #4A4;
    font-size: 1.5em;
    height: 100px;
    margin: 0; padding: 0.3em;
    text-align: center;
    background: black url(gnu1.png) no-repeat 90% 40%;
    border-bottom: 1px solid #2d491f;
  }
  #topbar {
    /*height: 30px;*/
    padding: 2px 10px;
    border-bottom: 1px solid #2d491f;
    padding-top: 5px;
    padding-bottom: 5px;

  }
  #snavi {
    float: left;
    min-width: 10px;
    margin-left: 20px;
  }
  #logbox {
    /*text-align: right;*/
    float: left;
    padding-right: 40px;
  }
  #logbox form{
    margin: 0;
  }
  #logbox form input{
    border: 1px solid #2d491f;
    background-color: #222;
    color: #4A4;
    margin-right: 2px;
  }
  #logbox form input#absenden {
    background-color: #444;
    color: #4A4;
  }

  #warenkorb {
    /*border: 1px dashed #2d491f;*/
    float: right;
    min-width: 350px;
    /*margin-right: 10px;*/
    padding: 1px 4px;
  }

  #inhalt {
    padding: 10px;
  }

  #Navigation {
    font-size: 1em;
    float: left;
    width: 200px;
    padding: 0;
  }
  #Navigation li {
    list-style: none;
    margin: 0;
    padding: 0.5em;
  }
  #Navigation a {
    display: block;
    padding: 0.2em;
  }
  #Navigation a:hover {
    color: #FD0;
  }

  * html div#contend {
    height: 1em;
    margin-bottom: 0;
  }
  #contend {
    margin: 0 0 1em 220px;
    padding: 0 1em;
  }
  #contend .produkt{
    border-top: 1px dashed;
    border-bottom: 1px dashed;
  }

  #contend .produkt .bild{
    float: left;
  }

  #fusszeile {
    clear: both;
    font-size: 0.83em;
    margin: 0; padding: 0.1em;
    text-align: center;
    color:#2d491f;
    background-color: black;
    border-top: 1px solid #2d491f;
  }

  .bestellung {
    border: 1px solid #2d491f;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 5px;
  }
